@import 'variables';
@import 'mixins';

.excel__table {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    min-height: 20px;
    height: $basic-row-height;
    &-info {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: $basic-cell-width;
      height: 100%;
      border: 1px solid $border-color;
      background-color: #f8f9fa;
      border-top: none;
    }

    &-data {
      display: flex;
      
    }

    .column {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f8f9fa;
      min-width: 40px;
      width: $cell-width;
      height: 100%;
      border: 1px solid $border-color;
      border-top: 0;
      border-left: 0;
    }

    .cell {
      min-width: 40px;
      padding: 5px;
      width: $cell-width;
      height: 100%;
      border: 1px solid #e2e2e2;
      border-top: 0;
      border-left: 0;
      white-space: nowrap;
      outline: none;
      &.selected {
        border: none;
        outline: 2px solid #3c74ff;
        z-index: 2;
      }
    }

  }
}