<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut ico"  href="favicon.ico"/>
  <title>Dasboard</title>
</head>
<body>    
  <div id="app">
    <div class="db">
      <div class="db__header">
        <h1>Excel dashboard</h1>
      </div>
      <div class="db__new">
        <a href="#" class="db__create">
          New table
        </a>
      </div>
      <div class="db__table">
        <div class="db__list-header">
          <span>Name</span>
          <span>Opening date</span>
        </div>
        <ul class="db__list">
          <li class="db__record">
            <a href="#">Table1</a>
            <div class="db__record-date">20.20.2020</div>
          </li>
          <li class="db__record">
            <a href="#">Table2</a>
            <div class="db__record-date">20.20.2020</div>
          </li>
          <li class="db__record">
            <a href="#">Table3</a>
            <div class="db__record-date">20.20.2020</div>
          </li>
        </ul>
      </div>  
    </div>
  </div>    
</body>
</html>